In [2]:
# make imports
import netCDF4 as nc
import geopy as gp
import numpy as np
import pandas as pd
import os
import sys
import xarray as xr
import time
from geopy.exc import GeocoderTimedOut

"""
A script to compile multiple netCDF4 files into one,
master file, which can then be excel-ized and processed
for a machine learning algorithm
"""

'\nA script to compile multiple netCDF4 files into one,\nmaster file, which can then be excel-ized and processed\nfor a machine learning algorithm\n'

In [13]:
ncfilesdir = '/Users/Rohil/Documents/iGEM/nc4_rainfall_files'
#pandasfilesdir = r'C:\Users\Victor\Desktop\Pandas Rainfall Files'
ultimatedir = '/Users/Rohil/Documents/iGEM/The Holy File'
testingdir = '/Users/Rohil/Documents/iGEM/Testing File.nc4'
pandasfiles = []
points_location = {}

In [23]:
def date_extract(ncfile):
    """ THIS SECTION COMPLETE """
    date = ncfile[11:19]
    date = pd.to_datetime(date, format='%Y%m%d', errors='ignore')
    return (date)

In [30]:
master_df = pd.DataFrame(columns = ['lat', 'lon', 'IRprecipitation_cnt', 'precipitation', 'HQprecipitation',
       'randomError', 'randomError_cnt', 'precipitation_cnt',
       'IRprecipitation', 'HQprecipitation_cnt', 'date'])
for ncfile_original in os.listdir(ncfilesdir):
    """ adding the date """
    ncfile = xr.open_dataset(ncfilesdir + '/' + ncfile_original)
    ncfile = ncfile.to_dataframe().reset_index()
    ncfile['date'] = date_extract(ncfile_original)
    master_df = master_df.append(ncfile)

In [37]:
lat_long_unique = master_df[['lat', 'lon']].drop_duplicates()

In [35]:
geolocator = gp.Nominatim()
geolocator.reverse(('9.875', '35.125'))

Location(Gombi, West Wellega, Oromia, ኢ.ፌ.ዲ.ሪ., (9.88333, 35.11667, 0.0))

In [114]:
def get_coords(pair):
    try:
        return(geolocator.reverse((pair.lat, pair.lon)))
    except:
        time.sleep(60)
        return(geolocator.reverse((pair.lat, pair.lon)))

In [ ]:
master_location_df = pd.Series()
for i in range(0,6500,500):

In [75]:
locations

0    (Gombi, West Wellega, Oromia, ኢ.ፌ.ዲ.ሪ., (9.883...
1    (Sirba, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ...
2    (Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ., (9...
3    (Oco, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ...
4    (Daleti, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ....
dtype: object

In [253]:
lat_long_unique.head()

     lat     lon
0  9.875  35.125
1  9.875  35.375
2  9.875  35.625
3  9.875  35.875
4  9.875  36.125

In [90]:
locations = lat_long_unique.iloc[5500:].apply(get_coords, axis = 1)

In [100]:
locations = locations.apply(pd.Series)
locations.columns = ['address', 'coords']

In [101]:
lat_long_locs_5500_end = pd.concat([lat_long_unique.iloc[5500:], locations], axis = 1)

In [103]:
locations_4000_to_5500 = lat_long_unique.iloc[4000:5500].apply(get_coords, axis = 1)

In [104]:
locations_4000_to_5500 = locations_4000_to_5500.apply(pd.Series)
locations_4000_to_5500.columns = ['address', 'coords']

In [105]:
lat_long_locs_4000_to_5500 = pd.concat([lat_long_unique.iloc[4000:5500], locations_4000_to_5500], axis = 1)

In [116]:
locations_start_to_999 = lat_long_unique.iloc[:1000].apply(get_coords, axis = 1)

In [119]:
locations_start_to_999 = locations_start_to_999.apply(pd.Series)
locations_start_to_999.columns = ['address', 'coords']

In [122]:
locations_1000_to_1999 = lat_long_unique.iloc[1000:2000].apply(get_coords, axis = 1)

In [123]:
locations_1000_to_1999 = locations_1000_to_1999.apply(pd.Series)
locations_1000_to_1999.columns = ['address', 'coords']

In [124]:
locations_2000_to_2999 = lat_long_unique.iloc[2000:3000].apply(get_coords, axis = 1)

In [125]:
locations_2000_to_2999 = locations_2000_to_2999.apply(pd.Series)
locations_2000_to_2999.columns = ['address', 'coords']

In [128]:
locations_3000_to_3999 = lat_long_unique.iloc[3000:4000].apply(get_coords, axis = 1)

In [129]:
locations_3000_to_3999 = locations_3000_to_3999.apply(pd.Series)
locations_3000_to_3999.columns = ['address', 'coords']

In [144]:
all_locations = pd.concat([locations_start_to_999, locations_1000_to_1999, locations_2000_to_2999, locations_3000_to_3999, locations_4000_to_5500, locations])

In [145]:
all_locations.head()

,address,coords
0,"Gombi, West Wellega, Oromia, ኢ.ፌ.ዲ.ሪ.","(9.88333, 35.11667)"
1,"Sirba, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ.","(9.9, 35.38333)"
2,"Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ.","(9.87505204088444, 35.6250050336125)"
3,"Oco, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ.","(9.91667, 35.91667)"
4,"Daleti, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ.","(9.86667, 36.1)"

In [147]:
unique_location_df = pd.concat([lat_long_unique, all_locations], axis = 1)

In [160]:
final_unique_location_df = unique_location_df[~unique_location_df.address.isnull()]

In [167]:
final_unique_location_df.shape

(4395, 4)

In [220]:
final_unique_location_df['untranslated_address'] = final_unique_location_df.address.str.split(', ')

C:\Users\Rohil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [235]:
untranslated_addresses = final_unique_location_df.address.drop_duplicates().str.split(', ')

In [236]:
untranslated_addresses.head()

0              [Gombi, West Wellega, Oromia, ኢ.ፌ.ዲ.ሪ.]
1    [Sirba, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ...
2          [Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ.]
3     [Oco, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ.ዲ.ሪ.]
4    [Daleti, Kemashi, Bīnshangul-Gumuz Kilil, ኢ.ፌ....
Name: address, dtype: object

In [169]:
from googletrans import Translator

In [170]:
translator = Translator()

In [198]:
# -*- coding: utf-8 -*-
def is_non_english_alphanum(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return True
    else:
        return False

In [218]:
[translator.translate(s).text if is_non_english_alphanum(s) else (s) for s in ['Sayh as Saqlah', '\u200fرأس الخيمة\u200e', 'الإمارات العربية المتحدة']]

['Sayh as Saqlah', 'Ras Al Khaimah', 'The United Arab Emirates']

In [237]:
def translate_address(untranslated):
    try:
        translator = Translator()
        return ([translator.translate(s).text if is_non_english_alphanum(s) else (s) for s in untranslated])
    except:
        time.sleep(60)
        translator = Translator()
        return ([translator.translate(s).text if is_non_english_alphanum(s) else (s) for s in untranslated])

In [251]:
translated_unique_addresses_list = []
for i in range(0,2500,50):
    time.sleep(60)
    translator = Translator()
    translated_unique_addresses_list.append(untranslated_addresses.iloc[i:i+50].apply(translate_address))
    translator = None

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [228]:
final_unique_location_df.to_csv('/Users/Rohil/Documents/iGEM/yemen_rainfall_unique_locations.csv')

In [18]:
master_rainfall_df.drop(columns = ['city', 'admin', 'country'], inplace = True)

In [3]:
master_rainfall_df = pd.read_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/master_rainfall_file.csv')

In [4]:
final_unique_location_df = pd.read_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_rainfall_unique_locations.csv')

In [8]:
lat_lon_translation = pd.read_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_rainfall_lat_lon_to_address.csv', encoding = "ISO-8859-1")

In [9]:
lat_lon_translation.shape

(4395, 6)

In [10]:
final_unique_location_df.shape

(4395, 6)

In [11]:
lat_lon_translation.head()

     lat     lon city        admin2             admin1   country
0  9.875  35.125  NaN  West Wellega             Oromia  Ethiopia
1  9.875  35.375  NaN       Kamashi  Benishangul-Gumuz  Ethiopia
2  9.875  35.625  NaN       Kamashi  Benishangul-Gumuz  Ethiopia
3  9.875  35.875  NaN       Kamashi  Benishangul-Gumuz  Ethiopia
4  9.875  36.125  NaN  East Wellega             Oromia  Ethiopia

In [20]:
master_rainfall_df = master_rainfall_df.merge(lat_lon_translation, how = 'left', on = ['lat', 'lon'])

In [22]:
master_rainfall_df.to_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/master_rainfall_file.csv', index = False)

In [59]:
# Najran is a border city between Saudi and Yemen - should not be included in Yemen (google maps sometimes accidentally includes it)
yemen_master_rainfall = master_rainfall_df[(master_rainfall_df.country == 'Yemen')  & (master_rainfall_df.admin1 != 'Najran')]

In [61]:
yemen_master_rainfall[yemen_master_rainfall.admin1.isnull()].to_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_rainfall_na_to_rerun.csv')

In [30]:
yemen_master_rainfall.head()

,Unnamed: 0,lat,lon,IRprecipitation_cnt,precipitation,HQprecipitation,randomError,randomError_cnt,precipitation_cnt,IRprecipitation,HQprecipitation_cnt,date,city,admin2,admin1,country
977,977,12.125,52.125,8,0.0,0.0,2.305515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen
978,978,12.125,52.375,8,0.0,0.0,2.305515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen
1084,1084,12.375,53.625,8,0.0,0.0,2.305515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen
1085,1085,12.375,53.875,8,2.1,2.1,13.232515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen
1086,1086,12.375,54.125,8,0.9,0.9,7.650176,8,8,0.0,5,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen

In [34]:
yemen_master_rainfall.admin2.unique()

array([nan, 'Al Buraiqeh', 'Khormaksar', 'Al Maqatirah District',
       'Al Anad', 'Mocha', ' ', 'Al Qabbaytah District', 'Ba Tays', '  ',
       'Jiblah', 'Al Bayda', 'Lawdar', 'Al Jarrahi', 'Wosab AL-Alsafel',
       'Ash Sharyah District', 'Wosab Al-Aali', 'Magreb Anns', 'Anns',
       "Rada'a District", 'Habbn', 'Algabin', 'Alsalfiah', 'Almanar',
       'Mangathah', 'Mefaat Anns', 'Kaninah', 'Ash Shihr', 'Al Marawi`ah',
       'Jabal Alsharq', 'Dhoran Aans', 'Zarajah', 'Alhada', "Qusay'ir",
       'Urj', 'Bait Alahmar', 'Kamaran', 'Al Luhayyah', 'Hiswah', 'Qasam',
       'Alamashya', 'Sahwa', 'Rumah'], dtype=object)

In [32]:
yemen_master_rainfall.admin1.unique()

array(['Hadhramaut Governorate', 'Lahij Governorate', 'Taizz Governorate',
       "'Adan Governorate", 'Abyan Governorate', "Ad Dali' Governorate",
       'Shabwah Governorate', 'Al Hudaydah Governorate',
       'Ibb Governorate', "Al Bayda' Governorate", 'Dhamar Governorate',
       'Raymah Governorate', "Ma'rib Governorate", "Sana'a Governorate",
       'Al Mahrah Governorate', 'Al Mahwit Governorate',
       'Hajjah Governorate', "'Amran Governorate", 'Al Jawf Governorate',
       'Saada Governorate'], dtype=object)

In [35]:
yemen_master_rainfall.city.unique()

array([nan], dtype=object)

In [41]:
governorate_to_iso_dict = {'Hadhramaut Governorate':'YE-HD', 'Lahij Governorate':'YE-LA', 'Taizz Governorate':'YE-TA',
       "'Adan Governorate":'YE-AD', 'Abyan Governorate':'YE-AB', "Ad Dali' Governorate":'YE-DA',
       'Shabwah Governorate':'YE-SH', 'Al Hudaydah Governorate':'YE-HU',
       'Ibb Governorate':'YE-IB', "Al Bayda' Governorate":'YE-BA', 'Dhamar Governorate':'YE-DH',
       'Raymah Governorate':'YE-RA', "Ma'rib Governorate":'YE-MA',
       "Sana'a Governorate":'YE-SN', 'Al Mahrah Governorate':'YE-MR',
       'Al Mahwit Governorate':'YE-MW', 'Hajjah Governorate':'YE-HJ',
       "'Amran Governorate":'YE-AM', 'Al Jawf Governorate':'YE-JA', 'Saada Governorate':'YE-SD'}

In [43]:
yemen_master_rainfall['governorate_isocode'] = yemen_master_rainfall.admin1.map(governorate_to_iso_dict)

C:\Users\Rohil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
coord_iso_to_replace = pd.read_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/iso_coords_to_reassign.csv')

In [15]:
coord_iso_to_replace[['governorate_isocode', 'lat', 'lon']].set_index('governorate_isocode')

                        lat     lon
governorate_isocode
YE-HD-AL             14.375  49.125
YE-HD-AL             14.625  49.125
YE-SA                15.375  44.125
YE-SA                15.375  44.375
YE-SA                15.625  44.125

In [19]:
yemen_master_rainfall.head()

,Unnamed: 0,lat,lon,IRprecipitation_cnt,precipitation,HQprecipitation,randomError,randomError_cnt,precipitation_cnt,IRprecipitation,HQprecipitation_cnt,date,city,admin2,admin1,country,governorate_isocode
0,977,12.125,52.125,8,0.0,0.0,2.305515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen,YE-HD
1,978,12.125,52.375,8,0.0,0.0,2.305515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen,YE-HD
2,1084,12.375,53.625,8,0.0,0.0,2.305515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen,YE-HD
3,1085,12.375,53.875,8,2.1,2.1,13.232515,8,8,0.0,6,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen,YE-HD
4,1086,12.375,54.125,8,0.9,0.9,7.650176,8,8,0.0,5,2017-01-01,NaN,NaN,Hadhramaut Governorate,Yemen,YE-HD

In [17]:
iso_cord_replace_dict = {
    'YE-HD-AL':(14.375,49.125),
    'YE-HD-AL':(14.625,49.125),
    'YE-SA':(15.375,44.125),
    'YE-SA':(15.375,44.375),
    'YE-SA':(15.625,44.125)
}

In [21]:
for key, val in iso_cord_replace_dict.items():
    rainfall_to_reassign = yemen_master_rainfall[(yemen_master_rainfall.lat == val[0]) & (yemen_master_rainfall.lon == val[1])]
    rainfall_to_reassign.governorate_isocode = key
    rainfall_to_reassign.admin2 = key
    yemen_master_rainfall = yemen_master_rainfall.append(rainfall_to_reassign)

C:\Users\Rohil\Anaconda3\lib\site-packages\pandas\core\generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [24]:
yemen_master_rainfall = yemen_master_rainfall.sort_values('date')

In [25]:
yemen_master_rainfall.to_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_master_rainfall.csv', index = False)

In [27]:
yemen_master_rainfall.governorate_isocode.unique()

array(['YE-HD', 'YE-SD', 'YE-JA', 'YE-MR', 'YE-HJ', 'YE-AM', 'YE-MA',
       'YE-HD-AL', 'YE-SA', 'YE-SH', 'YE-HU', 'YE-RA', 'YE-DH', 'YE-BA',
       'YE-AB', 'YE-IB', 'YE-DA', 'YE-AD', 'YE-TA', 'YE-LA', 'YE-SN',
       'YE-MW'], dtype=object)

In [28]:
daily_max_rainfall_crosstab = yemen_master_rainfall.pivot_table(index = 'date', columns = 'governorate_isocode', values = 'precipitation', aggfunc = 'max')

In [29]:
daily_mean_rainfall_crosstab = yemen_master_rainfall.pivot_table(index = 'date', columns = 'governorate_isocode', values = 'precipitation', aggfunc = 'mean')

In [30]:
daily_min_rainfall_crosstab = yemen_master_rainfall.pivot_table(index = 'date', columns = 'governorate_isocode', values = 'precipitation', aggfunc = 'min')

In [31]:
daily_max_rainfall_crosstab.to_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_daily_max_rainfall_crosstab.csv')

In [32]:
daily_mean_rainfall_crosstab.to_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_daily_mean_rainfall_crosstab.csv')

In [33]:
daily_min_rainfall_crosstab.to_csv('/Users/Rohil/Documents/iGEM/yemen/rainfall/yemen_daily_min_rainfall_crosstab.csv')

In [36]:
yemen_master_rainfall.pivot_table(index = 'date', columns = 'governorate_isocode', values = 'precipitation', aggfunc = [np.max, np.mean, np.min]).columns

MultiIndex(levels=[['amax', 'mean', 'amin'], ['YE-AB', 'YE-AD', 'YE-AM', 'YE-BA', 'YE-DA', 'YE-DH', 'YE-HD', 'YE-HD-AL', 'YE-HJ', 'YE-HU', 'YE-IB', 'YE-JA', 'YE-LA', 'YE-MA', 'YE-MR', 'YE-MW', 'YE-RA', 'YE-SA', 'YE-SD', 'YE-SH', 'YE-SN', 'YE-TA']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]],
           names=[None, 'governorate_isocode'])

In [55]:
yemen_master_rainfall[(yemen_master_rainfall.governorate_isocode == 'YE-HJ') & (yemen_master_rainfall.date == '2017-01-02')].precipitation.mean()

0.19519311818181817